{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PCOVI-STO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/vendor/icofont/icofont.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" >
</head>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">COVI-STOP</a></h1>
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Accueil</a></li>
          <li><a href="/rdv/">Prendre un RDV</a></li>
          <li><a href="map.html">Carte Iteractive</a></li>
          <li><a href="blog.html">Centre d'Informations</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Bienvenue à COVI-STOP</h1>
      <h2>La plateforme officielle de la campagne de vaccination contre le COVID-19 au Maroc</h2>
      <a href="#about" class="btn-get-started scrollto">Prendre un RDV</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Plan ======= -->
    <section id="plan" class="plan" style="padding-top: 60px;">
      <div class="container">
        <div class="section-title">
          <span>Plan De Déroulement</span>
          <h2>Plan de Déroulement</h2>
        </div>


        <div class="row">

          <div class="col-lg-3" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Prise de Rendez-Vous</h4>
              <p>Utilisez les informations de votre carte d'identité nationale pour prendre un rendez-vous qui vous indiquera la date et le lieu de vaccination</p>
            </div>
          </div>

          <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Vaccination Première Dose</h4>
              <p>Présentez-vous à l'endroi désigné par votre rendez-vous pour prendre la première dose du vaccin.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Vaccination Deuxième Dose</h4>
              <p>Retourner une deuxième fois pour prendre une nouvelle dose. Cette étape se fait 4 semains après la première.</p>
            </div>
          </div>

          <div class="col-lg-3 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>04</span>
              <h4>Octroi du Certificat de Vaccination</h4>
              <p>Télécharger un certificat numérique qui prouve que vous avez bel est bien été vacciné contre le COVID-19</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Plan Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <span>F.A.Q</span>
          <h2>F.A.Q</h2>
        </div>

        <ul class="faq-list">
          {% for k,i,j,l,n,m in mylist%}

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-toggle="collapse" class={{n}} href={{m}}>{{k}}?<i class="icofont-simple-up"></i></a>
            <div id={{l}} class={{j}} data-parent=".faq-list">
              <p>
                {{i}}
              </p>
            </div>
          </li>
          {% endfor %}




        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Envoyez vos questions et vos suggestions</p>
        </div>


        <div class="col-lg-12" data-aos="zoom-in">
          <form action="/post_question/" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Entrez au moins 4 caractères" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Entrez une adresse email valide" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Entrez au moins 8 caractères" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="Message" rows="5" data-rule="required" data-msg="Entrez votre question" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">nous avons recu votre message. Merci!</div>
            </div>
            <div class="text-center"><button type="submit">Envoyer mon Message</button></div>
          </form>
        </div>
        </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COVI-STOP</span></strong> 2021. Tous droits réservés
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>


  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/vendor/aos/aos.js' %}"></script>

  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>